<div class="container">
  <div class="row">
    <div *ngIf="selectedRestTime.id != 0" class="col-sm-6">
      <app-title [title]="(selectedRestTime.id === -1 ? 'New Rest-Time': 'Code: ' + selectedRestTime.id)">
        <button class="btn btn-sm btn-outline-danger" (click)="goBack()">Go Back</button>
      </app-title>
      <form [formGroup]="restTimeForm" (submit)="onSubmit()">
        <div class="form-group">
          <label>Starting time</label>
          <input type="text" formControlName="startingDateTime" class="form-control">
        </div>
        <div class="form-group">
          <label >Ending time</label>
          <input type="text" formControlName="endingDateTime" class="form-control">
        </div>
        <div class="row form-group">
          <button class="btn btn-success" [disabled]="!restTimeForm.valid">Save</button>
        </div>
      </form>
    </div>

    <div [ngClass]="{'col-sm-6': selectedRestTime.id != 0, 'col-sm-12': selectedRestTime.id == 0}">
      <app-title [title]="restTimeTitle">
        <button class="btn btn-sm btn-success" (click)="newRestTime()">Register Rest-Time</button>
      </app-title>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th style="width:12%" scope="col">Options</th>
            <th style="width:8%" scope="col">#</th>
            <th style="width:40%" scope="col">Starting time</th>
            <th style="width:40%" scope="col">Ending time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restTime of restTimes">
            <td>
              <div class="btn-group">
                <button (click)="selectRestTime(restTime)" class="text-dark btn btn-sm btn-outline-warning mr-2">
                  Select
                </button>
                <button (click)="deleteRestTime(restTime)" class="text-dark btn btn-sm btn-outline-danger">
                  Delete
                </button>
              </div>
            </td>
            <th scope="row">{{restTime.id}}</th>
            <td>{{restTime.startingDateTime}}</td>
            <td>{{restTime.endingDateTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>