<div class="container">
  <div class="row">
    <div *ngIf="selectedTrainingRoom.id != 0" class="col-sm-6">
      <app-title [title]="(selectedTrainingRoom.id === -1 ? 'New Person': 'Code: ' + selectedTrainingRoom.id)">
        <button class="btn btn-sm btn-outline-danger" (click)="goBack()">Go Back</button>
      </app-title>
      <form [formGroup]="trainingRoomForm" (submit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control">
        </div>
        <div class="form-group">
          <label >Capacity</label>
          <input type="text" formControlName="capacity" class="form-control">
        </div>
        <div class="row form-group">
          <button class="btn btn-success" [disabled]="!trainingRoomForm.valid">Save</button>
        </div>
      </form>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
              <th style="width:8%" scope="col">#</th>
              <th style="width:42%" scope="col">Person_Name</th>
              <th style="width:42%" scope="col">Person_Surname</th>
              <th style="width:8%" scope="col">StageTime_Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trainingRoomPerson of trainingRoomPeople">
            <th scope="row">{{trainingRoomPerson.id}}</th>
            <td>{{trainingRoomPerson.person.name}}</td>
            <td>{{trainingRoomPerson.person.surname}}</td>
            <td>{{trainingRoomPerson.stageTimeId}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div [ngClass]="{'col-sm-6': selectedTrainingRoom.id != 0, 'col-sm-12': selectedTrainingRoom.id == 0}">
      <app-title [title]="trainingRoomTitle">
        <button class="btn btn-sm btn-success" (click)="newTrainingRoom()">Register Training-Room</button>
      </app-title>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th style="width:12%" scope="col">Options</th>
            <th style="width:8%" scope="col">#</th>
            <th style="width:40%" scope="col">Name</th>
            <th style="width:40%" scope="col">Capacity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trainingRoom of trainingRooms">
            <td>
              <div class="btn-group">
                <button (click)="selectTrainingRoom(trainingRoom)" class="text-dark btn btn-sm btn-outline-warning mr-2">
                  Select
                </button>
                <button (click)="selectTrainingRoom(trainingRoom)" class="text-dark btn btn-sm btn-outline-danger">
                  Delete
                </button>
              </div>
            </td>
            <th scope="row">{{trainingRoom.id}}</th>
            <td>{{trainingRoom.name}}</td>
            <td>{{trainingRoom.capacity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>