<div class="container">
  <div class="row">
    <div *ngIf="selectedPerson.id != 0" class="col-sm-6">
      <app-title [title]="(selectedPerson.id === -1 ? 'New Person': 'Code: ' + selectedPerson.id)">
        <button class="btn btn-sm btn-outline-danger" (click)="goBack()">Go Back</button>
      </app-title>
      <form [formGroup]="personForm" (submit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control">
        </div>
        <div class="form-group">
          <label >Surname</label>
          <input type="text" formControlName="surname" class="form-control">
        </div>
        <div class="row form-group">
          <button class="btn btn-success" [disabled]="!personForm.valid">Save</button>
        </div>
      </form>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
              <th style="width:8%" scope="col">#</th>
              <th style="width:22%" scope="col">Training-Room</th>
              <th style="width:35%" scope="col">Starting time</th>
              <th style="width:35%" scope="col">Ending time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trainingRoomPerson of trainingRoomPeople">
            <th scope="row">{{trainingRoomPerson.id}}</th>
            <td>{{trainingRoomPerson.trainingRoom.name}}</td>
            <td>{{trainingRoomPerson.stageTime.startingDateTime}}</td>
            <td>{{trainingRoomPerson.stageTime.endingDateTime}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
              <th style="width:8%" scope="col">#</th>
              <th style="width:22%" scope="col">Rest-Room</th>
              <th style="width:35%" scope="col">Starting time</th>
              <th style="width:35%" scope="col">Ending time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restRoomPerson of restRoomPeople">
            <th scope="row">{{restRoomPerson.id}}</th>
            <td>{{restRoomPerson.restRoom.name}}</td>
            <td>{{restRoomPerson.restTime.startingDateTime}}</td>
            <td>{{restRoomPerson.restTime.endingDateTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div [ngClass]="{'col-sm-6': selectedPerson.id != 0, 'col-sm-12': selectedPerson.id == 0}">
      <app-title [title]="personTitle">
        <button class="btn btn-sm btn-success" (click)="newPerson()">Register Person</button>
      </app-title>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th style="width:12%" scope="col">Options</th>
            <th style="width:8%" scope="col">#</th>
            <th style="width:40%" scope="col">Name</th>
            <th style="width:40%" scope="col">Surname</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <td>
              <div class="btn-group">
                <button (click)="selectPerson(person)" class="text-dark btn btn-sm btn-outline-warning mr-2">
                  Select
                </button>
                <button (click)="deletePerson(person)" class="text-dark btn btn-sm btn-outline-danger">
                  Delete
                </button>
              </div>
            </td>
            <th scope="row">{{person.id}}</th>
            <td>{{person.name}}</td>
            <td>{{person.surname}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>